In [3]:
# 자치구 단위 내 서울 생활인구 데이터 불러오기
import pandas as pd
df = pd.read_csv('C:/cakd7/자치구 단위 서울 생활인구(내국인).csv', encoding='cp949')
df

,기준일ID,시간대구분,자치구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20220724,0,11110,202407.6470,5050.8994,2902.8954,5221.7931,8542.3209,9369.7871,7667.2599,...,9392.8334,7053.8963,7845.8843,7017.3537,8583.0033,7379.8010,7841.0895,6421.0388,5022.2560,14340.9870
1,20220724,0,11140,163876.1361,4735.4284,1786.1870,2708.1987,5991.8830,7810.3514,7338.0945,...,8667.3485,7818.7354,8307.9940,6661.7657,6104.8489,5207.0394,5569.1318,4612.7529,3518.6942,9718.5703
2,20220724,0,11170,260588.2134,7260.1622,3543.4235,5791.3240,9378.9889,12366.9534,12985.3173,...,13562.8917,13049.7162,14033.7324,10209.6734,10409.6273,9058.9328,8704.6585,7611.0345,5630.3566,15521.1324
3,20220724,0,11200,306676.7949,10366.9186,4272.2657,6711.4905,10519.3360,12737.2556,11745.5577,...,13063.8988,13042.2289,16192.9748,12052.2127,12516.9533,11289.2226,11468.3499,9871.1766,7550.4808,19501.2543
4,20220724,0,11215,356330.1100,9793.7479,5257.2436,9047.0852,15289.4455,17800.6190,14787.8143,...,19172.2464,15427.6575,15534.7150,13215.9257,14202.9363,12816.7126,13919.1725,11236.7544,8360.7751,19389.6827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639995,20190811,15,11620,469787.4594,12114.7455,5823.9095,9310.6784,20046.1110,32688.9860,26120.4385,...,28330.5237,20000.8270,18076.6731,14675.2012,15163.5568,14170.9041,16774.4742,15368.1969,12764.8188,30820.2021
639996,20190811,15,11650,581160.1525,18266.4658,10074.7448,16288.7800,19302.4582,23648.5504,23057.2341,...,26792.0759,25892.1786,27155.9388,24381.8446,26246.4768,19730.3496,20432.1048,18511.6538,13928.6052,33372.4797
639997,20190811,15,11680,761627.3983,21551.8675,14298.4316,30760.8746,24760.3164,33465.1173,32838.8454,...,39342.1678,35470.7635,35779.2573,31496.8313,33588.6819,23606.1680,23341.7486,21904.6884,16412.7022,38368.0404
639998,20190811,15,11710,796499.6758,30243.4790,15845.3463,20995.0361,23053.9853,29861.4543,30589.9815,...,36090.4653,34543.8729,37278.4978,31934.9794,32905.0115,28158.3816,30657.9481,27473.8645,19835.2528,45168.6057
639999,20190811,15,11740,466997.6504,18037.2858,9569.3494,13076.3450,12642.4560,15576.9373,15652.7505,...,15172.0347,16011.9993,19301.9712,17299.5634,19175.7325,17880.5753,21315.8952,19476.1888,14657.9050,32803.2672

In [4]:
# 자치구코드로 마포구를 찾기/마포구 자치구코드 = 11440
df_mapo = df[df['자치구코드']==11440]
df_mapo

,기준일ID,시간대구분,자치구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
13,20220724,0,11440,416652.8324,12363.4987,6182.9448,10309.2298,17281.5927,20865.7494,17902.3739,...,24344.2869,20156.4133,21341.1790,16758.4220,18298.1777,14180.5393,13133.0759,10478.4956,8160.0023,22567.2257
38,20220724,1,11440,415511.8456,12338.5561,6193.3749,10505.3094,17148.1939,20544.6799,17701.8721,...,23905.4124,19992.0783,21261.4932,16760.6942,18320.2287,14127.1124,13179.0187,10499.3670,8194.9198,22670.2148
63,20220724,2,11440,412686.5912,12339.6839,6213.7699,10459.9120,16771.3182,20048.2732,17410.0555,...,23432.0164,19790.0079,21152.6776,16737.6947,18275.7062,14124.4278,13164.9860,10568.8082,8220.8963,22619.5772
88,20220724,3,11440,409795.6597,12369.6694,6202.3402,10406.3857,16285.0363,19553.5801,17136.4322,...,23097.8223,19546.7809,21051.5607,16688.9874,18316.0451,14144.8513,13155.9296,10555.2127,8211.5185,22626.6929
113,20220724,4,11440,409213.6030,12351.8200,6188.7094,10304.6706,16100.2205,19312.9844,17070.8273,...,22906.3970,19524.2709,21048.9886,16757.7404,18258.0226,14123.3805,13213.2416,10585.2431,8230.4853,22706.7792
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639888,20190811,11,11440,436774.6769,13871.4688,6816.1072,10658.8218,16757.5207,21175.6125,18795.0101,...,25041.8522,21589.3135,21141.9392,17888.7023,17425.7031,13835.0786,13691.5993,12055.2671,9074.7185,26572.9070
639913,20190811,12,11440,444759.9994,14128.4213,6920.9764,11073.7107,17390.2996,21880.5525,19297.5688,...,26443.1248,22001.0209,21049.1985,17999.0993,17438.2701,13717.1742,13767.9955,12110.1903,9141.8688,26629.9227
639938,20190811,13,11440,453438.0077,14206.0769,6991.6909,11607.6843,18277.3151,22491.8914,19669.7685,...,27651.0458,22575.5658,21487.1457,17980.2239,17641.0116,13627.0791,13615.7650,11819.1975,8773.8308,26065.1925
639963,20190811,14,11440,457629.8570,14193.7027,7054.4967,11817.0242,18646.0484,23186.5059,20099.5128,...,28537.1467,22686.8949,21335.5157,17946.0356,17646.7280,13584.2889,13580.5012,11814.7460,8684.1149,25921.2078
639988,20190811,15,11440,460923.6519,14202.0803,7087.6329,12079.7810,19090.4297,23832.4977,20149.1741,...,29019.3110,22895.1699,21169.9868,17934.2183,17534.7492,13626.7238,13332.6094,11864.3950,8759.2571,25352.3119

In [5]:
from datetime import datetime
import warnings
warnings.filterwarnings(action='ignore')
df_mapo['기준일ID'] = df_mapo['기준일ID'].apply(str)

In [ ]:
df_mapo.info()

In [10]:
import pandas as pd
df_mapo['기준일ID']= pd.to_datetime(df_mapo['기준일ID'],format='%Y%m%d')
df_mapo['Year']=df_mapo['기준일ID'].dt.year
df_mapo['Month']=df_mapo['기준일ID'].dt.month
df_mapo['Day']=df_mapo['기준일ID'].dt.day
df_2022 = df_mapo[df_mapo['Year']== 2022]
df_2022 = df_mapo[df_mapo['Month']== 7] 
df_2022 = df_mapo[df_mapo['Day']== 24]
df_2022

,기준일ID,시간대구분,자치구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,Year,Month,Day
13,2022-07-24,0,11440,416652.8324,12363.4987,6182.9448,10309.2298,17281.5927,20865.7494,17902.3739,...,16758.4220,18298.1777,14180.5393,13133.0759,10478.4956,8160.0023,22567.2257,2022,7,24
38,2022-07-24,1,11440,415511.8456,12338.5561,6193.3749,10505.3094,17148.1939,20544.6799,17701.8721,...,16760.6942,18320.2287,14127.1124,13179.0187,10499.3670,8194.9198,22670.2148,2022,7,24
63,2022-07-24,2,11440,412686.5912,12339.6839,6213.7699,10459.9120,16771.3182,20048.2732,17410.0555,...,16737.6947,18275.7062,14124.4278,13164.9860,10568.8082,8220.8963,22619.5772,2022,7,24
88,2022-07-24,3,11440,409795.6597,12369.6694,6202.3402,10406.3857,16285.0363,19553.5801,17136.4322,...,16688.9874,18316.0451,14144.8513,13155.9296,10555.2127,8211.5185,22626.6929,2022,7,24
113,2022-07-24,4,11440,409213.6030,12351.8200,6188.7094,10304.6706,16100.2205,19312.9844,17070.8273,...,16757.7404,18258.0226,14123.3805,13213.2416,10585.2431,8230.4853,22706.7792,2022,7,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
632288,2019-08-24,19,11440,517221.8726,14581.2847,7309.1678,13249.5513,24187.8994,29599.0176,23735.3175,...,19561.5053,19366.0930,14583.0104,14609.4531,13081.1184,9017.7769,26509.0517,2019,8,24
632313,2019-08-24,20,11440,511230.6419,14153.3927,7072.1655,12946.6902,24214.6846,29354.9017,23459.1568,...,19525.4524,19232.2746,14548.7219,14650.1239,13131.0360,8904.7449,26585.0123,2019,8,24
632338,2019-08-24,21,11440,500019.7819,13772.8614,6895.1957,12526.9557,23691.6685,28531.7567,22787.9097,...,19003.3693,18889.7657,14477.5342,14585.3912,13130.1142,8909.4111,26837.2478,2019,8,24
632363,2019-08-24,22,11440,483519.1531,13871.7088,6927.7265,11792.3962,22958.0309,27086.3299,21657.0144,...,18462.1982,18478.8531,14149.2323,14431.7272,12837.8136,8801.8804,26795.7579,2019,8,24
632388,2019-08-24,23,11440,464833.5350,13277.8120,6694.6565,11207.9579,21306.6330,25091.3461,20656.2223,...,18403.7977,18114.5381,13825.5189,14419.8601,12624.3554,8860.4608,26492.0867,2019,8,24