### 아래 가이드에 따라서 고객별 연간 구매데이터를 생성하고 아래사항을 수행하세요(관측치 1000개)

#### Q1. 고객 속성(id, 성별, 연령, 거주지역) 데이터와 거래 데이터를 통합한 데이터 프레임 df를 생성하세요.

거래 번호
- id : 1 ~ 1000번 일련번호 - 개시 후 1천 건의 거래가 있었고 걍 거기에 넘버링한 거라고 이해해보자

고객별 속성 데이터
- cusno : 고객번호 1000개 랜덤
- gender : 0,1 정수 난수 생성
- age : 0 ~ 80사이 정수 난수 생성
- region : 1 ~ 10 사이 정수 난수 생성

거래 데이터
- product_20 : 고가제품(10), 중가제품(20), 저가제품(30)로 구분제품코드 10,20,30
- product_21 : 고가제품(10), 중가제품(20), 저가제품(30)로 구분제품코드 10,20,30
- price_20 : 1000 ~ 50000 사이 실수 난수 생성
- price_21 : 1000 ~ 50000 사이 실수 난수 생성
- quantity_20 : 1 ~ 100 사이 정수 난수 생성
- quantity_21 : 1 ~ 100 사이 정수 난수 생성
- amount_20 : price_20 * quantity_20
- amount_21 : price_21 * quantity_21
- sales : 20년 대비 21년구매금액이 증가면 1, 감소면 0

#### Q2. df를 수정하여 5가지 이상의 인사이트를 포함한 데이터 셋으로 변환하세요

#### Q3. df 를 탐색적 분석을 통하여 인사이트를 도출하세요.

#### 거래일자, 요일, 시간을 추가해서 10000개의 관측치를 갖는 데이터셋을 만드세요.

In [181]:
import pandas as pd
import numpy as np
import random
from datetime import datetime
np.random.seed(0)
ar = np.random.rand(10000,13)

ard = pd.DataFrame(ar, index = range(1,10001), 
                   columns = ["cusno", "gender",'age','region','product_20','product_21','price_20','price_21','quantity_20','quantity_21','amount_20','amount_21','sales'])
ard.index.name = "TID"
ard.head()

,cusno,gender,age,region,product_20,product_21,price_20,price_21,quantity_20,quantity_21,amount_20,amount_21,sales
TID,,,,,,,,,,,,,
1,0.548814,0.715189,0.602763,0.544883,0.423655,0.645894,0.437587,0.891773,0.963663,0.383442,0.791725,0.528895,0.568045
2,0.925597,0.071036,0.087129,0.020218,0.832620,0.778157,0.870012,0.978618,0.799159,0.461479,0.780529,0.118274,0.639921
3,0.143353,0.944669,0.521848,0.414662,0.264556,0.774234,0.456150,0.568434,0.018790,0.617635,0.612096,0.616934,0.943748
4,0.681820,0.359508,0.437032,0.697631,0.060225,0.666767,0.670638,0.210383,0.128926,0.315428,0.363711,0.570197,0.438602
5,0.988374,0.102045,0.208877,0.161310,0.653108,0.253292,0.466311,0.244426,0.158970,0.110375,0.656330,0.138183,0.196582

In [175]:
ard.tsid = np.arange(1,10001)
ard.cusno = np.random.randint(1000,2001,10000)
ard.gender = np.random.randint(0,2,10000)
ard.age = np.random.randint(0,81,10000)
ard.region = np.random.randint(1,11,10000)

start_date = pd.to_datetime("2020-01-01")
end_date = pd.to_datetime("2021-12-30")
ard["Datetime"] = pd.date_range(start ="2020-01-01" , end = "2021-12-30", periods = 10000) 
ard = ard.set_index(["Datetime", "tsid"])

In [176]:
ard.price_20 = np.random.uniform(1000,5001,10000)
ard.price_21 = np.random.uniform(1000,5001,10000)
ard.quantity_20 = np.random.randint(1,101,10000)
ard.quantity_21 = np.random.randint(1,101,10000)

ard["amount_20"] = ard.price_20*ard.quantity_20
ard["amount_21"] = ard.price_21*ard.quantity_21

In [177]:
ard["sales"] = ard['amount_21']>ard['amount_20']
ard['sales'].replace({True : 1, False : 0}, inplace = True)

In [178]:
count, bin_dividers = np.histogram(ard.price_20, bins = 3)
bin_names = ['30','20','10']
ard.product_20 = pd.cut(x = ard.price_20,
                          bins=bin_dividers,
                          labels = bin_names,
                          include_lowest = True)

In [179]:
count, bin_dividers = np.histogram(ard.price_21, bins = 3)
bin_names = ['30','20','10']
ard.product_21 = pd.cut(x = ard.price_21,
                          bins=bin_dividers,
                          labels = bin_names,
                          include_lowest = True)

In [180]:
ard.head()

,,cusno,gender,age,region,product_20,product_21,price_20,price_21,quantity_20,quantity_21,amount_20,amount_21,sales
Datetime,tsid,,,,,,,,,,,,,
2020-01-01 00:00:00.000000000,1,1299,0,42,3,10,20,4514.756043,3333.340465,55,40,248311.582376,133333.618600,0
2020-01-01 01:44:59.189918991,2,1539,1,50,9,30,20,2064.521446,3540.011439,17,38,35096.864585,134520.434688,1
2020-01-01 03:29:58.379837983,3,1165,1,1,9,20,10,2354.519948,3964.008406,14,22,32963.279276,87208.184925,1
2020-01-01 05:14:57.569756975,4,1269,0,19,9,20,10,2601.357165,3904.657964,96,39,249730.287850,152281.660586,0
2020-01-01 06:59:56.759675967,5,1751,0,1,10,20,30,3520.641306,2308.206656,100,37,352064.130634,85403.646279,0

In [147]:
insite_df = ard.copy()

In [31]:
#1
count, bin_dividers = np.histogram(insite_df.amount_20, bins = 3)
bin_names = ['Bronz','Silver','Gold']
insite_df.product_20 = pd.cut(x = insite_df.amount_20,
                          bins=bin_dividers,
                          labels = bin_names,
                          include_lowest = True)
count, bin_dividers = np.histogram(insite_df.amount_21, bins = 3)
bin_names = ['Bronz','Silver','Gold']
insite_df.product_21 = pd.cut(x = insite_df.amount_21,
                          bins=bin_dividers,
                          labels = bin_names,
                          include_lowest = True)

In [32]:
#2
insite_df.rename(columns = {"product_20" : "Grade_20","product_21" : "Grade_21","quantity_20":"visit_20","quantity_21":"visit_21"}, inplace = True)

In [33]:
insite_df.head()

,cusno,gender,age,region,Grade_20,Grade_21,price_20,price_21,visit_20,visit_21,amount_20,amount_21,sales
ID,,,,,,,,,,,,,
1,13160,1,58,2,Bronz,Bronz,2275.885407,2499.638385,46,60,104690.728707,149978.303110,1
2,13160,0,48,2,Bronz,Silver,2577.362640,3431.748326,5,50,12886.813200,171587.416310,1
3,13160,0,55,4,Silver,Bronz,3732.117033,2130.743970,80,20,298569.362662,42614.879391,0
4,13160,0,45,10,Bronz,Bronz,3236.368173,3862.313889,25,36,80909.204321,139043.300014,1
5,13160,0,33,2,Bronz,Gold,4331.092302,3626.976497,31,99,134263.861361,359070.673193,1

In [34]:
# 여성(1)이면서 구매금액(sales)이 감소한 id
wd = insite_df[(insite_df["gender"] == 1)&(insite_df["sales"] == 0)]
len(wd)/len(insite_df) #전체 고객 중, 여성이면서 구매금액이 감소한 id

0.2487

In [35]:
# 남성(0)이면서 구매금액이 감소한 id
md = insite_df[(insite_df["gender"] == 0)&(insite_df['sales'] == 0)]
md
len(md)/len(insite_df)

0.2467

In [36]:
#3
#여성과 남성의 구매금액 감소 비중이 의미있게 차이나지 않는다.
#하지만 전체 고객의 총구매금액 감소 고객의 비중이 50%를 넘는다.
cd = insite_df[insite_df['sales'] == 0]
len(cd)/len(insite_df)

0.4954

In [37]:
GD = insite_df.groupby(['Grade_20', 'Grade_21'])
list(GD)

[(('Bronz', 'Bronz'),
         cusno  gender  age  region Grade_20 Grade_21     price_20     price_21  \
  ID
  1      13160       1   58       2    Bronz    Bronz  2275.885407  2499.638385
  4      13160       0   45      10    Bronz    Bronz  3236.368173  3862.313889
  6      13160       1   34       2    Bronz    Bronz  4660.409599  3709.630440
  11     13160       1   47       2    Bronz    Bronz  3846.276023  1452.836333
  14     13160       1   48       4    Bronz    Bronz  2355.910487  2281.466214
  ...      ...     ...  ...     ...      ...      ...          ...          ...
  9989   13160       1   31      10    Bronz    Bronz  1142.625743  4896.042415
  9990   13160       0   60       6    Bronz    Bronz  1115.247341  2528.281162
  9992   13160       1   38      10    Bronz    Bronz  3637.977354  2949.114442
  9993   13160       0   12       5    Bronz    Bronz  1194.040518  4063.806275
  10000  13160       1   18      10    Bronz    Bronz  1520.166526  1737.443860

         visit_20  visit_21      amount_20      amount_21  sales
  ID
  1            46        60  104690.728707  149978.303110      1
  4            25        36   80909.204321  139043.300014      1
  6            33        43  153793.516752  159514.108936      1
  11            9        31   34616.484205   45037.926333      1
  14           52        60  122507.345334  136887.972820      1
  ...         ...       ...            ...            ...    ...
  9989         49        13   55988.661423   63648.551399      1
  9990         24        18   26765.936186   45509.060922      1
  9992         41        16  149157.071514   47185.831067      0
  9993         15         9   17910.607777   36574.256477      1
  10000        15        34   22802.497896   59073.091230      1

  [3842 rows x 13 columns]),
 (('Bronz', 'Silver'),
        cusno  gender  age  region Grade_20 Grade_21     price_20     price_21  \
  ID
  2     13160       0   48       2    Bronz   Silver  2577.362640  3431.748326
  9     13160       0    5       1    Bronz   Silver  4210.479247  3629.492077
  12    13160       0   35       5    Bronz   Silver  3173.459830  4476.835808
  16    13160       1   16       3    Bronz   Silver  1694.414817  3222.769410
  19    13160       0   77       7    Bronz   Silver  3315.218127  2733.979201
  ...     ...     ...  ...     ...      ...      ...          ...          ...
  9978  13160       1   43       3    Bronz   Silver  1305.089121  4384.608624
  9981  13160       1   49       8    Bronz   Silver  3036.741352  2429.995065
  9982  13160       1   59       8    Bronz   Silver  1438.176502  4191.859564
  9997  13160       0   69       6    Bronz   Silver  2804.160494  2815.819635
  9999  13160       1   27       2    Bronz   Silver  1959.592161  3399.400876

        visit_20  visit_21      amount_20      amount_21  sales
  ID
  2            5        50   12886.813200  171587.416310      1
  9            8        78   33683.833978  283100.381977      1
  12           3        49    9520.379489  219364.954596      1
  16          18        52   30499.466713  167584.009326      1
  19          44        80  145869.597606  218718.336114      1
  ...        ...       ...            ...            ...    ...
  9978        67        40   87440.971100  175384.344966      1
  9981         6        79   18220.448111  191969.610101      1
  9982        11        54   15819.941527  226360.416439      1
  9997        47        73  131795.543221  205554.833320      1
  9999        41        70   80343.278616  237958.061337      1

  [1791 rows x 13 columns]),
 (('Bronz', 'Gold'),
        cusno  gender  age  region Grade_20 Grade_21     price_20     price_21  \
  ID
  5     13160       0   33       2    Bronz     Gold  4331.092302  3626.976497
  8     13160       1   66       4    Bronz     Gold  2173.842668  4966.012461
  40    13160       0   65       3    Bronz     Gold  2849.894166  4437.582021
  78    13160       1   16       2    Bronz     Gold  1556.606649  4723.656844
  95    13160       0   51       5    Bronz     Gold  1712.332411  4663.033554
  ...     ...     ...  ...     ...      ...      ...          ...          ...
  9916  13160       0   37       2    Bronz     Gold  2690.674332  4154.518421
  9928  13160       0   16       2    Bronz     Gold  3135.751660  4559.555838
  9962  13160       1   70       1    Bronz     Gold  4996.713046  4712.809994
  9979  13160       1   15       4    Bronz     Gold  1529.365307  4668.159381
  9991  13160       1   80       9    Bronz     Gold  4878.591477  4991.921611

        visit_20  visit_21      amount_20      amount_21  sales
  ID
  5           31        99  134263.861361  359070.673193      1
  8           62        68  134778.245445  337688.847326      1
  40          53        88  151044.390787  390507.217881      1
  78          27        95   42028.379515  448747.400140      1
  95          91        73  155822.249414  340401.449425      1
  ...        ...       ...            ...            ...    ...
  9916        12        84   32288.091983  348979.547361      1
  9928         9        92   28221.764942  419479.137100      1
  9962        15        87   74950.695688  410014.469520      1
  9979        58        79   88703.187782  368784.591068      1
  9991        23        68  112207.603979  339450.669554      1

  [540 rows x 13 columns]),
 (('Silver', 'Bronz'),
        cusno  gender  age  region Grade_20 Grade_21     price_20     price_21  \
  ID
  3     13160       0   55       4   Silver    Bronz  3732.117033  2130.743970
  7     13160       1   20       1   Silver    Bronz  2724.896926  1459.010382
  13    13160       1   36       5   Silver    Bronz  3839.012893  2079.696010
  21    13160       1   11       4   Silver    Bronz  2209.686661  3894.867526
  22    13160       1   42       6   Silver    Bronz  3574.158442  1984.971113
  ...     ...     ...  ...     ...      ...      ...          ...          ...
  9957  13160       1   70      10   Silver    Bronz  4651.963375  1399.274633
  9980  13160       0   47       3   Silver    Bronz  3997.736020  2007.366115
  9983  13160       0   33       7   Silver    Bronz  2659.254108  2672.563493
  9988  13160       1   80       6   Silver    Bronz  2748.052480  2737.607185
  9998  13160       1   50       2   Silver    Bronz  3347.263453  4126.942954

        visit_20  visit_21      amount_20      amount_21  sales
  ID
  3           80        20  298569.362662   42614.879391      0
  7           93        82  253415.414120  119638.851316      0
  13          68        54  261052.876716  112303.584548      0
  21          84        35  185613.679489  136320.363410      0
  22          48        19  171559.605200   37714.451150      0
  ...        ...       ...            ...            ...    ...
  9957        51        54  237250.132150   75560.830187      0
  9980        72        15  287836.993429   30110.491719      0
  9983        81        28  215399.582742   74831.777810      0
  9988        77        42  211600.040923  114979.501761      0
  9998        63        38  210877.597539  156823.832269      0

  [1828 rows x 13 columns]),
 (('Silver', 'Silver'),
        cusno  gender  age  region Grade_20 Grade_21     price_20     price_21  \
  ID
  25    13160       0   26       1   Silver   Silver  3429.039890  2929.648987
  43    13160       1    0       6   Silver   Silver  2818.731481  2970.892425
  51    13160       0   70       6   Silver   Silver  3985.165452  4675.533246
  86    13160       0   21       8   Silver   Silver  3309.772702  2031.825109
  90    13160       1   79       3   Silver   Silver  4243.195207  3062.359908
  ...     ...     ...  ...     ...      ...      ...          ...          ...
  9876  13160       1   67       9   Silver   Silver  1918.385643  3246.214479
  9922  13160       1    4       8   Silver   Silver  3978.659252  4018.671557
  9985  13160       0   50      10   Silver   Silver  3831.088188  4269.366742
  9986  13160       1   24       8   Silver   Silver  3498.526228  4919.562766
  9996  13160       1    3       4   Silver   Silver  4094.375672  4810.639667

        visit_20  visit_21      amount_20      amount_21  sales
  ID
  25          78        98  267465.111440  287105.600754      1
  43          86        87  242410.907334  258467.640971      1
  51          52        44  207228.603495  205723.462830      0
  86          92        92  304499.088560  186927.910043      0
  90          62        63  263078.102809  192928.674183      0
  ...        ...       ...            ...            ...    ...
  9876        90        96  172654.707831  311636.589961      1
  9922        61        46  242698.214388  184858.891645      0
  9985        63        57  241358.555861  243353.904310      1
  9986        69        51  241398.309731  250897.701054      1
  9996        58        56  237473.788959  269395.821365      1

  [906 rows x 13 columns]),
 (('Silver', 'Gold'),
        cusno  gender  age  region Grade_20 Grade_21     price_20     price_21  \
  ID
  10    13160       0   49       2   Silver     Gold  3963.940785  4350.508313
  17    13160       0   35       2   Silver     Gold  2002.275379  4894.092348
  55    13160       1   28       5   Silver     Gold  3295.920445  4578.094857
  62    13160       1   30       9   Silver     Gold  2578.588226  4958.298877
  73    13160       0   54       4   Silver     Gold  2258.936452  4941.291868
  ...     ...     ...  ...     ...      ...      ...          ...          ...
  9834  13160       0   44       1   Silver     Gold  4056.271064  4990.728440
  9867  13160       0   16       3   Silver     Gold  4985.480011  4790.107636
  9918  13160       1   52       6   Silver     Gold  3593.942598  4375.572587
  9984  13160       0   64       7   Silver     Gold  3761.435736  4052.131055
  9994  13160       1   33       3   Silver     Gold  2514.911531  4702.964551

        visit_20  visit_21      amount_20      amount_21  sales
  ID
  10          61        77  241800.387860  334989.140085      1
  17          89        95  178202.508769  464938.773071      1
  55          64        83  210938.908461  379981.873141      1
  62          80        97  206287.058050  480954.991051      1
  73          83        94  187491.725543  464481.435582      1
  ...        ...       ...            ...            ...    ...
  9834        60        86  243376.263847  429202.645828      1
  9867        52        70  259244.960585  335307.534506      1
  9918        74        86  265951.752232  376299.242451      1
  9984        86        82  323483.473296  332274.746502      1
  9994        81        72  203707.834043  338613.447684      1

  [241 rows x 13 columns]),
 (('Gold', 'Bronz'),
        cusno  gender  age  region Grade_20 Grade_21     price_20     price_21  \
  ID
  20    13160       1   14       1     Gold    Bronz  4183.159626  2053.845862
  56    13160       0   42      10     Gold    Bronz  4286.096702  2201.891070
  79    13160       1    7       3     Gold    Bronz  4319.438768  1620.664416
  82    13160       0   50       6     Gold    Bronz  4381.699857  4952.840978
  91    13160       1   54       4     Gold    Bronz  3938.523857  4667.806323
  ...     ...     ...  ...     ...      ...      ...          ...          ...
  9911  13160       1   33       9     Gold    Bronz  4923.005661  1004.497588
  9913  13160       1   77       9     Gold    Bronz  4294.361734  1507.335759
  9921  13160       1   46       2     Gold    Bronz  4791.129607  2011.222084
  9935  13160       0   24      10     Gold    Bronz  4730.819438  1396.424198
  9955  13160       1   74       5     Gold    Bronz  4377.826437  2516.287597

        visit_20  visit_21      amount_20      amount_21  sales
  ID
  20          79        69  330469.610449  141715.364488      0
  56          90        19  385748.703193   41835.930330      0
  79          94        64  406027.244182  103722.522593      0
  82          79         2  346154.288717    9905.681957      0
  91          92        35  362344.194830  163373.221301      0
  ...        ...       ...            ...            ...    ...
  9911        82        88  403686.464213   88395.787736      0
  9913        84        59  360726.385641   88932.809775      0
  9921        99        53  474321.831106  106594.770440      0
  9935        81        70  383196.374499   97749.693878      0
  9955        92        63  402760.032169  158526.118604      0

  [522 rows x 13 columns]),
 (('Gold', 'Silver'),
        cusno  gender  age  region Grade_20 Grade_21     price_20     price_21  \
  ID
  30    13160       1   68       2     Gold   Silver  4864.950412  3840.700620
  59    13160       0   30       1     Gold   Silver  4915.415030  3144.176780
  99    13160       0    3       3     Gold   Silver  4532.634776  4974.998380
  211   13160       1   48       2     Gold   Silver  4940.864434  4444.827396
  221   13160       1   67       9     Gold   Silver  4309.161691  1864.911010
  ...     ...     ...  ...     ...      ...      ...          ...          ...
  9825  13160       1   44       1     Gold   Silver  4596.020560  4947.003928
  9841  13160       1    7       2     Gold   Silver  4679.212779  2535.757056
  9885  13160       1   13       1     Gold   Silver  4835.979344  2235.604367
  9927  13160       0   42       1     Gold   Silver  3985.514031  3188.313888
  9945  13160       0   76       2     Gold   Silver  4477.936723  4129.361742

        visit_20  visit_21      amount_20      amount_21  sales
  ID
  30          72        79  350276.429639  303415.348972      0
  59          95        66  466964.427829  207515.667504      0
  99          85        56  385273.955955  278599.909260      0
  211         90        62  444677.799030  275579.298576      0
  221         93        89  400752.037284  165977.079893      0
  ...        ...       ...            ...            ...    ...
  9825        73        61  335509.500905  301767.239601      0
  9841        76        90  355620.171181  228218.135019      0
  9885        73        91  353026.492140  203439.997437      0
  9927        89        52  354710.748761  165792.322193      0
  9945        99        40  443315.735567  165174.469670      0

  [272 rows x 13 columns]),
 (('Gold', 'Gold'),
        cusno  gender  age  region Grade_20 Grade_21     price_20     price_21  \
  ID
  31    13160       0   53       4     Gold     Gold  4109.638779  4325.720584
  203   13160       1   25       7     Gold     Gold  4894.377938  3935.865549
  415   13160       1   38       8     Gold     Gold  3988.858292  4681.877175
  608   13160       0   16       3     Gold     Gold  4788.008202  4297.278300
  614   13160       1   51       5     Gold     Gold  4429.605248  3526.591803
  627   13160       0   14       5     Gold     Gold  4506.555842  3953.002833
  668   13160       0   43       9     Gold     Gold  4891.489003  4819.753658
  926   13160       1   34       5     Gold     Gold  4194.267402  4249.174580
  981   13160       0   68      10     Gold     Gold  4406.752197  4740.430046
  1528  13160       1   42       7     Gold     Gold  4464.065317  3731.666209
  1545  13160       1   38       3     Gold     Gold  4133.247830  3824.594293
  1556  13160       0   57       9     Gold     Gold  4016.801947  4989.331382
  1739  13160       1   42       6     Gold     Gold  4599.353165  4904.804764
  1748  13160       0   27       7     Gold     Gold  4071.388931  4312.691552
  1880  13160       0   10       4     Gold     Gold  4192.470000  4944.582714
  2064  13160       1   31       7     Gold     Gold  4615.484177  4667.218240
  2336  13160       0    4       9     Gold     Gold  4405.522806  4580.623102
  2380  13160       1    0       9     Gold     Gold  4633.142420  4725.001685
  2397  13160       0   67       8     Gold     Gold  3998.591003  4416.219119
  2585  13160       1   46       2     Gold     Gold  4367.337030  4128.969798
  3227  13160       0   10       4     Gold     Gold  4073.966066  3905.312415
  3262  13160       1   49       8     Gold     Gold  3809.320080  4705.145298
  3290  13160       1   66       8     Gold     Gold  4044.049230  4923.311476
  3661  13160       0   36       4     Gold     Gold  4119.061579  4609.665572
  3901  13160       1   51       6     Gold     Gold  3609.254107  4687.320184
  4116  13160       1   58       7     Gold     Gold  4853.156613  4998.820493
  4128  13160       0   20       5     Gold     Gold  4395.507317  4800.161709
  4188  13160       0    0       7     Gold     Gold  4524.582591  4978.114817
  4505  13160       0    6       1     Gold     Gold  4825.182650  4822.944009
  4729  13160       0   35       2     Gold     Gold  4359.245436  4594.843948
  4781  13160       0   69       5     Gold     Gold  4948.380197  3534.050297
  4954  13160       0   27       7     Gold     Gold  4934.520042  4332.283701
  5114  13160       0   73       1     Gold     Gold  4674.227494  3761.992793
  5404  13160       1   40       1     Gold     Gold  4566.065230  4620.651004
  5767  13160       1   60       2     Gold     Gold  3349.856840  4732.257056
  5822  13160       0    4       8     Gold     Gold  4134.142115  3582.795023
  6020  13160       0   17       6     Gold     Gold  4563.110659  4859.247832
  6060  13160       0   70       6     Gold     Gold  3768.507554  4991.890075
  6215  13160       0   36       4     Gold     Gold  3644.059370  4345.765083
  6269  13160       1   38       4     Gold     Gold  4514.770957  4401.505990
  6584  13160       0    3       9     Gold     Gold  4313.810273  3867.165255
  6602  13160       1   50       5     Gold     Gold  4737.807726  3445.355394
  6709  13160       1   34       1     Gold     Gold  4116.239512  3876.264403
  6761  13160       0   25       7     Gold     Gold  4359.236818  4522.282512
  6764  13160       0   68       8     Gold     Gold  4945.838281  4617.256445
  6923  13160       1   79       2     Gold     Gold  3630.921898  4751.442589
  7035  13160       0   36       4     Gold     Gold  4981.884936  3941.654765
  7175  13160       0   25       2     Gold     Gold  4191.992798  4380.651792
  7189  13160       0   79       8     Gold     Gold  4888.964798  3475.789819
  7980  13160       0    5       2     Gold     Gold  3617.320637  3822.463584
  8286  13160       1   15       6     Gold     Gold  3942.487091  4876.615835
  8606  13160       0   31       8     Gold     Gold  4153.383995  4468.091758
  8874  13160       0   21       2     Gold     Gold  3878.111598  4999.040761
  9148  13160       0   14       5     Gold     Gold  3980.334322  3704.968073
  9247  13160       1   63       6     Gold     Gold  4888.907768  4991.168874
  9425  13160       0   19       3     Gold     Gold  3496.866400  4757.989042
  9767  13160       1   72       5     Gold     Gold  4573.526165  4160.078439
  9995  13160       1   31      10     Gold     Gold  4891.830604  3512.936660

        visit_20  visit_21      amount_20      amount_21  sales
  ID
  31          87        96  357538.573814  415269.176050      1
  203         78        95  381761.479199  373907.227202      0
  415         95        72  378941.537705  337095.156577      0
  608         94        93  450072.770968  399646.881864      0
  614         83        95  367657.235557  335026.221260      0
  627         94        89  423616.249163  351817.252099      0
  668         79        72  386427.631236  347022.263394      0
  926         96        82  402649.670637  348432.315586      0
  981         86        83  378980.688899  393455.693800      1
  1528        87        92  388373.682568  343313.291212      0
  1545        94        97  388525.296042  370985.646375      0
  1556        88        88  353478.571310  439061.161584      1
  1739        89        84  409342.431679  412003.600204      1
  1748        86        78  350139.448033  336389.941083      0
  1880        99        78  415054.530039  385677.451718      0

In [38]:
#4 전체 고객 전년도 등급 비교
for key, group in GD:
    print('* key :', key)
    print('* number :', len(group))
    print(group.head(),'\n')

* key : ('Bronz', 'Bronz')
* number : 3842
    cusno  gender  age  region Grade_20 Grade_21     price_20     price_21  \
ID
1   13160       1   58       2    Bronz    Bronz  2275.885407  2499.638385
4   13160       0   45      10    Bronz    Bronz  3236.368173  3862.313889
6   13160       1   34       2    Bronz    Bronz  4660.409599  3709.630440
11  13160       1   47       2    Bronz    Bronz  3846.276023  1452.836333
14  13160       1   48       4    Bronz    Bronz  2355.910487  2281.466214

    visit_20  visit_21      amount_20      amount_21  sales
ID
1         46        60  104690.728707  149978.303110      1
4         25        36   80909.204321  139043.300014      1
6         33        43  153793.516752  159514.108936      1
11         9        31   34616.484205   45037.926333      1
14        52        60  122507.345334  136887.972820      1

* key : ('Bronz', 'Silver')
* number : 1791
    cusno  gender  age  region Grade_20 Grade_21     price_20     price_21  \
ID
2   13160       0   48       2    Bronz   Silver  2577.362640  3431.748326
9   13160       0    5       1    Bronz   Silver  4210.479247  3629.492077
12  13160       0   35       5    Bronz   Silver  3173.459830  4476.835808
16  13160       1   16       3    Bronz   Silver  1694.414817  3222.769410
19  13160       0   77       7    Bronz   Silver  3315.218127  2733.979201

    visit_20  visit_21      amount_20      amount_21  sales
ID
2          5        50   12886.813200  171587.416310      1
9          8        78   33683.833978  283100.381977      1
12         3        49    9520.379489  219364.954596      1
16        18        52   30499.466713  167584.009326      1
19        44        80  145869.597606  218718.336114      1

* key : ('Bronz', 'Gold')
* number : 540
    cusno  gender  age  region Grade_20 Grade_21     price_20     price_21  \
ID
5   13160       0   33       2    Bronz     Gold  4331.092302  3626.976497
8   13160       1   66       4    Bronz     Gold  2173.842668  4966.012461
40  13160       0   65       3    Bronz     Gold  2849.894166  4437.582021
78  13160       1   16       2    Bronz     Gold  1556.606649  4723.656844
95  13160       0   51       5    Bronz     Gold  1712.332411  4663.033554

    visit_20  visit_21      amount_20      amount_21  sales
ID
5         31        99  134263.861361  359070.673193      1
8         62        68  134778.245445  337688.847326      1
40        53        88  151044.390787  390507.217881      1
78        27        95   42028.379515  448747.400140      1
95        91        73  155822.249414  340401.449425      1

* key : ('Silver', 'Bronz')
* number : 1828
    cusno  gender  age  region Grade_20 Grade_21     price_20     price_21  \
ID
3   13160       0   55       4   Silver    Bronz  3732.117033  2130.743970
7   13160       1   20       1   Silver    Bronz  2724.896926  1459.010382
13  13160       1   36       5   Silver    Bronz  3839.012893  2079.696010
21  13160       1   11       4   Silver    Bronz  2209.686661  3894.867526
22  13160       1   42       6   Silver    Bronz  3574.158442  1984.971113

    visit_20  visit_21      amount_20      amount_21  sales
ID
3         80        20  298569.362662   42614.879391      0
7         93        82  253415.414120  119638.851316      0
13        68        54  261052.876716  112303.584548      0
21        84        35  185613.679489  136320.363410      0
22        48        19  171559.605200   37714.451150      0

* key : ('Silver', 'Silver')
* number : 906
    cusno  gender  age  region Grade_20 Grade_21     price_20     price_21  \
ID
25  13160       0   26       1   Silver   Silver  3429.039890  2929.648987
43  13160       1    0       6   Silver   Silver  2818.731481  2970.892425
51  13160       0   70       6   Silver   Silver  3985.165452  4675.533246
86  13160       0   21       8   Silver   Silver  3309.772702  2031.825109
90  13160       1   79       3   Silver   Silver  4243.195207  3062.359908

    visit_20  visit_21      amount_20      amount_21  sales
ID
25        78        98  267465.111440  287105.600754      1
43        86        87  242410.907334  258467.640971      1
51        52        44  207228.603495  205723.462830      0
86        92        92  304499.088560  186927.910043      0
90        62        63  263078.102809  192928.674183      0

* key : ('Silver', 'Gold')
* number : 241
    cusno  gender  age  region Grade_20 Grade_21     price_20     price_21  \
ID
10  13160       0   49       2   Silver     Gold  3963.940785  4350.508313
17  13160       0   35       2   Silver     Gold  2002.275379  4894.092348
55  13160       1   28       5   Silver     Gold  3295.920445  4578.094857
62  13160       1   30       9   Silver     Gold  2578.588226  4958.298877
73  13160       0   54       4   Silver     Gold  2258.936452  4941.291868

    visit_20  visit_21      amount_20      amount_21  sales
ID
10        61        77  241800.387860  334989.140085      1
17        89        95  178202.508769  464938.773071      1
55        64        83  210938.908461  379981.873141      1
62        80        97  206287.058050  480954.991051      1
73        83        94  187491.725543  464481.435582      1

* key : ('Gold', 'Bronz')
* number : 522
    cusno  gender  age  region Grade_20 Grade_21     price_20     price_21  \
ID
20  13160       1   14       1     Gold    Bronz  4183.159626  2053.845862
56  13160       0   42      10     Gold    Bronz  4286.096702  2201.891070
79  13160       1    7       3     Gold    Bronz  4319.438768  1620.664416
82  13160       0   50       6     Gold    Bronz  4381.699857  4952.840978
91  13160       1   54       4     Gold    Bronz  3938.523857  4667.806323

    visit_20  visit_21      amount_20      amount_21  sales
ID
20        79        69  330469.610449  141715.364488      0
56        90        19  385748.703193   41835.930330      0
79        94        64  406027.244182  103722.522593      0
82        79         2  346154.288717    9905.681957      0
91        92        35  362344.194830  163373.221301      0

* key : ('Gold', 'Silver')
* number : 272
     cusno  gender  age  region Grade_20 Grade_21     price_20     price_21  \
ID
30   13160       1   68       2     Gold   Silver  4864.950412  3840.700620
59   13160       0   30       1     Gold   Silver  4915.415030  3144.176780
99   13160       0    3       3     Gold   Silver  4532.634776  4974.998380
211  13160       1   48       2     Gold   Silver  4940.864434  4444.827396
221  13160       1   67       9     Gold   Silver  4309.161691  1864.911010

     visit_20  visit_21      amount_20      amount_21  sales
ID
30         72        79  350276.429639  303415.348972      0
59         95        66  466964.427829  207515.667504      0
99         85        56  385273.955955  278599.909260      0
211        90        62  444677.799030  275579.298576      0
221        93        89  400752.037284  165977.079893      0

* key : ('Gold', 'Gold')
* number : 58
     cusno  gender  age  region Grade_20 Grade_21     price_20     price_21  \
ID
31   13160       0   53       4     Gold     Gold  4109.638779  4325.720584
203  13160       1   25       7     Gold     Gold  4894.377938  3935.865549
415  13160       1   38       8     Gold     Gold  3988.858292  4681.877175
608  13160       0   16       3     Gold     Gold  4788.008202  4297.278300
614  13160       1   51       5     Gold     Gold  4429.605248  3526.591803

     visit_20  visit_21      amount_20      amount_21  sales
ID
31         87        96  357538.573814  415269.176050      1
203        78        95  381761.479199  373907.227202      0
415        95        72  378941.537705  337095.156577      0
608        94        93  450072.770968  399646.881864      0
614        83        95  367657.235557  335026.221260      0

In [39]:
GD['Grade_20'].value_counts()

Grade_20  Grade_21
Bronz     Bronz     Bronz     3842
                    Silver       0
                    Gold         0
          Silver    Bronz     1791
                    Silver       0
                    Gold         0
          Gold      Bronz      540
                    Silver       0
                    Gold         0
Silver    Bronz     Silver    1828
                    Bronz        0
                    Gold         0
          Silver    Silver     906
                    Bronz        0
                    Gold         0
          Gold      Silver     241
                    Bronz        0
                    Gold         0
Gold      Bronz     Gold       522
                    Bronz        0
                    Silver       0
          Silver    Gold       272
                    Bronz        0
                    Silver       0
          Gold      Gold        58
                    Bronz        0
                    Silver       0
Name: Grade_20, dtype: int64

In [40]:
# 5
# 위 자료에서 볼 수 있듯이 전년도에 비해 브론즈 등급의 변화가 없는 고객이 전체의 37.7%정도이다.
# 브론즈 등급이 변화가 없거나 등급이 떨어진 고객을 'Question mark = ?'으로 정하겠다.
# 등급이 오른 고객은 'Star', 등급이 같은 고객은 'Cash_Cow'

In [41]:
def bcg(x):
    if (x["Grade_20"] == "Bronz")&(x["Grade_21"] == "Bronz"):
        return "?"
    elif (x["Grade_20"] == "Silver")&(x["Grade_21"] == "Bronz"):
        return "?"
    elif (x["Grade_20"] == "Gold")&(x["Grade_21"] == "Bronz"):
        return "?"
    elif (x["Grade_20"] == "Gold")&(x["Grade_21"] == "Siver"):
        return "?"
    elif (x["Grade_20"] == "Gold")&(x["Grade_21"] == "Gold"):
        return "Cash_Cow"
    elif (x["Grade_20"] == "Silver")&(x["Grade_21"] == "Silver"):
        return "Cash_Cow"
    else:
        return "Star"
    
    
insite_df['BCG'] = insite_df.apply(lambda x: bcg(x), axis=1)
insite_df.head()

,cusno,gender,age,region,Grade_20,Grade_21,price_20,price_21,visit_20,visit_21,amount_20,amount_21,sales,BCG
ID,,,,,,,,,,,,,,
1,13160,1,58,2,Bronz,Bronz,2275.885407,2499.638385,46,60,104690.728707,149978.303110,1,?
2,13160,0,48,2,Bronz,Silver,2577.362640,3431.748326,5,50,12886.813200,171587.416310,1,Star
3,13160,0,55,4,Silver,Bronz,3732.117033,2130.743970,80,20,298569.362662,42614.879391,0,?
4,13160,0,45,10,Bronz,Bronz,3236.368173,3862.313889,25,36,80909.204321,139043.300014,1,?
5,13160,0,33,2,Bronz,Gold,4331.092302,3626.976497,31,99,134263.861361,359070.673193,1,Star

In [42]:
insite_df['BCG'].value_counts()

?           6192
Star        2844
Cash_Cow     964
Name: BCG, dtype: int64

In [43]:
# 위 BCG 컬럼을 적용하여 
# 제품을 구매하지만 등급이 떨어지거나 제품 구매가 더딘 고객에겐 "?"마크를 줘서 이벤트를 열어 구매를 늘리면 혜택을 주는 마케팅을 사용하거나 
# 반대급부인 아무런 관심을 주지 않는 마케팅을 쓸 수도 있다. 
# 하지만 현 상황에서 대부분의 고객이 브론즈인 것을 감안해 고객들의 구매상황을 만들고 총구매금액을 올리는 적극적인 하위 고객 대상 마케팅이 필요하다.
# 이와 반대되는 고객들에겐 그에 맞는 맞춤형 마케팅을 선보일 수 있을 것이다.