In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

build_df = pd.read_csv('./연면적별.csv', index_col=0)
build_df
weather_df = pd.read_csv('./전국평균날씨데이터.csv', index_col=0)
weather_df
# money_flow = pd.read_csv('./월별 금리추이(202001_202201).csv', index_col=0, encoding='cp949')
# money_flow
money_flow2 = pd.read_csv('./월별 시장금리추이(202001_202112).csv', index_col=0, encoding='cp949')
money_flow2

,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,...,2021-03,2021-04,2021-05,2021-06,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12
기준금리,1.25,1.25,0.75,0.75,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.75,0.75,0.75,1.0,1.0

In [3]:
weather_df['날짜'] = pd.to_datetime(weather_df['날짜'])

In [17]:
weather_df.head(10)

                평균온도       일강수량       상대습도      최심적설
날짜
2020-01-01 -0.792632   0.009474  63.494737  0.108421
2020-01-02  1.598947   0.000000  70.055789  0.057895
2020-01-03  2.228421   0.000000  66.088421  0.000000
2020-01-04  1.653684   0.015789  65.776842  0.000000
2020-01-05  1.571579   0.049474  62.404211  0.000000
2020-01-06  3.857895   9.134737  82.623158  0.004211
2020-01-07  9.132632  40.033684  95.068421  0.000000
2020-01-08  5.368421   4.380000  78.693684  0.000000
2020-01-09  2.089474   0.012632  66.735789  0.000000
2020-01-10  1.215789   0.000000  69.182105  0.000000

In [20]:
weather_df.iloc[:6].mean()

평균온도     1.686316
일강수량     1.534912
상대습도    68.407193
최심적설     0.028421
dtype: float64

In [10]:
weather_df.set_index('날짜', inplace=True)

In [23]:
weather_df.resample('W-Tue').mean()

                평균온도      일강수량       상대습도      최심적설
날짜
2020-01-07  2.750075  7.034737  72.215940  0.024361
2020-01-14  1.852782  0.730226  65.505564  0.015038
2020-01-21  1.088120  0.128722  58.339699  0.032180
2020-01-28  5.323008  3.924361  75.362707  0.000000
2020-02-04  2.950827  0.304060  67.209474  0.009474
...              ...       ...        ...       ...
2021-12-07  3.703459  0.230526  64.266165  0.004662
2021-12-14  4.859850  0.099850  69.050677  0.000000
2021-12-21  3.082105  0.511128  66.748722  0.193985
2021-12-28 -1.188120  0.477594  59.434586  0.578195
2022-01-04 -0.505965  0.232632  61.186667  0.441404

[105 rows x 4 columns]

In [53]:
money_flow2=money_flow2.T.reset_index()
money_flow2=money_flow2.rename({'index':'Month'}, axis=1)

In [4]:
build_df

      Month      연면적별
0   2020-01   6200509
1   2020-02   7743793
2   2020-03  11972937
3   2020-04  10481354
4   2020-05  10999316
5   2020-06  10255271
6   2020-07  10658885
7   2020-08   8595586
8   2020-09  10775873
9   2020-10   9195394
10  2020-11  12312253
11  2020-12  12855085
12  2021-01   7570978
13  2021-02  10178609
14  2021-03  12996528
15  2021-04  11765306
16  2021-05  12417941
17  2021-06  10857729
18  2021-07  10510350
19  2021-08   8974011
20  2021-09  11398360
21  2021-10  11618046
22  2021-11  11415255
23  2021-12  14132721

In [26]:
weather_df

             날짜      평균온도      일강수량       상대습도      최심적설
0    2020-01-01 -0.792632  0.009474  63.494737  0.108421
1    2020-01-02  1.598947  0.000000  70.055789  0.057895
2    2020-01-03  2.228421  0.000000  66.088421  0.000000
3    2020-01-04  1.653684  0.015789  65.776842  0.000000
4    2020-01-05  1.571579  0.049474  62.404211  0.000000
..          ...       ...       ...        ...       ...
726  2021-12-27 -4.032632  0.126316  59.958947  1.143158
727  2021-12-28  0.408421  0.003158  69.070526  0.840000
728  2021-12-29  2.966316  0.075789  66.233684  0.612632
729  2021-12-30 -0.084211  0.622105  51.426316  0.711579
730  2021-12-31 -4.400000  0.000000  65.900000  0.000000

[731 rows x 5 columns]

In [27]:
import re
import pandas as pd
def yearmonth(x):
    p = re.compile('.{7}')
    return p.findall(x)[0]

In [28]:

weather_df['Month'] = weather_df['날짜'].apply(yearmonth)
weather_df

             날짜      평균온도      일강수량       상대습도      최심적설    Month
0    2020-01-01 -0.792632  0.009474  63.494737  0.108421  2020-01
1    2020-01-02  1.598947  0.000000  70.055789  0.057895  2020-01
2    2020-01-03  2.228421  0.000000  66.088421  0.000000  2020-01
3    2020-01-04  1.653684  0.015789  65.776842  0.000000  2020-01
4    2020-01-05  1.571579  0.049474  62.404211  0.000000  2020-01
..          ...       ...       ...        ...       ...      ...
726  2021-12-27 -4.032632  0.126316  59.958947  1.143158  2021-12
727  2021-12-28  0.408421  0.003158  69.070526  0.840000  2021-12
728  2021-12-29  2.966316  0.075789  66.233684  0.612632  2021-12
729  2021-12-30 -0.084211  0.622105  51.426316  0.711579  2021-12
730  2021-12-31 -4.400000  0.000000  65.900000  0.000000  2021-12

[731 rows x 6 columns]

In [37]:
weather_pv = weather_df.pivot_table(index = 'Month',
                           values='평균온도',
                           aggfunc='mean')
weather_pv.reset_index(inplace=True)

In [38]:
weather_pv_1 = weather_df.pivot_table(index = 'Month',
                           values='일강수량',
                           aggfunc='mean')
weather_pv_1.reset_index(inplace=True)

In [39]:
weather_pv_2 = weather_df.pivot_table(index = 'Month',
                           values='상대습도',
                           aggfunc='mean')
weather_pv_2.reset_index(inplace=True)

In [40]:
weather_pv_3 = weather_df.pivot_table(index = 'Month',
                           values='최심적설',
                           aggfunc='mean')
weather_pv_3.reset_index(inplace=True)

In [54]:
from functools import reduce

df_li = [money_flow2,build_df,weather_pv,weather_pv_1,weather_pv_2,weather_pv_3]

feature_df = reduce(lambda x,y : pd.merge(x,y, on='Month', how='outer'), df_li)

In [55]:
feature_df

      Month  기준금리      연면적별       평균온도       일강수량       상대습도      최심적설
0   2020-01  1.25   6200509   2.916774   2.727844  68.317385  0.016503
1   2020-02  1.25   7743793   3.727441   2.033285  66.886715  0.242287
2   2020-03  0.75  11972937   7.899355   1.068930  60.694363  0.006146
3   2020-04  0.75  10481354  10.708386   1.441263  55.874281  0.000000
4   2020-05  0.50  10999316  17.544924   3.505025  72.778913  0.000000
5   2020-06  0.50  10255271  22.576035   6.405684  75.591895  0.000000
6   2020-07  0.50  10658885  22.499694  13.259626  86.074261  0.000000
7   2020-08  0.50   8595586  26.501698  12.875178  85.082988  0.000000
8   2020-09  0.50  10775873  20.250246   7.695719  80.226070  0.000000
9   2020-10  0.50   9195394  13.977046   0.434363  68.963973  0.000000
10  2020-11  0.50  12312253   8.871895   1.352351  65.550351  0.000000
11  2020-12  0.50  12855085   0.866757   0.346961  60.435959  0.195110
12  2021-01  0.50   7570978  -0.540713   0.799151  63.529406  0.661426
13  2021-02  0.50  10178609   3.779549   0.804962  58.462895  0.101805
14  2021-03  0.50  12996528   8.908659   3.645840  67.550900  0.071171
15  2021-04  0.50  11765306  13.222105   2.572316  58.973123  0.000000
16  2021-05  0.50  12417941  16.716579   4.485729  70.904631  0.000000
17  2021-06  0.50  10857729  21.700737   3.237263  77.498070  0.000000
18  2021-07  0.50  10510350  26.040000   7.627029  80.729508  0.000000
19  2021-08  0.75   8974011  24.897487   9.283769  82.855382  0.000000
20  2021-09  0.75  11398360  21.542421   5.275333  80.567719  0.000000
21  2021-10  0.75  11618046  15.437759   1.770594  75.928523  0.000000
22  2021-11  1.00  11415255   8.679088   1.882842  70.062947  0.000140
23  2021-12  1.00  14132721   2.312360   0.320374  64.518098  0.218132

In [61]:
import pandas as pd

detail = pd.read_csv('./dataset_detail.csv',index_col=0)
total = pd.read_csv('./dataset_total.csv',index_col=0)
total
detail

,상대습도,일강수량,최심적설,평균온도,기준금리,연면적별,거래처코드,제품명,수주량
2020-01,68.317385,2.727844,0.016503,2.916774,1.25,6200509,2001102,AE,3000
2020-01,68.317385,2.727844,0.016503,2.916774,1.25,6200509,2001102,CSA5000,23000
2020-01,68.317385,2.727844,0.016503,2.916774,1.25,6200509,2001102,PEMA-HR1000,7000
2020-01,68.317385,2.727844,0.016503,2.916774,1.25,6200509,2001102,PEMA-HR1500,4000
2020-01,68.317385,2.727844,0.016503,2.916774,1.25,6200509,2001102,PEMA-PR1000,20000
...,...,...,...,...,...,...,...,...,...
2021-12,64.518098,0.320374,0.218132,2.312360,1.00,14132721,2007800,PEMA-HR1000,10000
2021-12,64.518098,0.320374,0.218132,2.312360,1.00,14132721,2007800,PEMA-HR1500,30000
2021-12,64.518098,0.320374,0.218132,2.312360,1.00,14132721,2007800,PEMA-PCM2000,5000
2021-12,64.518098,0.320374,0.218132,2.312360,1.00,14132721,2007800,PEMA-SR2000,36000
2021-12,64.518098,0.320374,0.218132,2.312360,1.00,14132721,2007800,PEMA-SR3000F,10000

In [62]:
detail[(detail['거래처코드']==2001102)&(detail['제품명']=='AE')]

,상대습도,일강수량,최심적설,평균온도,기준금리,연면적별,거래처코드,제품명,수주량
2020-01,68.317385,2.727844,0.016503,2.916774,1.25,6200509,2001102,AE,3000
2020-03,60.694363,1.068930,0.006146,7.899355,0.75,11972937,2001102,AE,3000
2020-05,72.778913,3.505025,0.000000,17.544924,0.50,10999316,2001102,AE,3000
2020-07,86.074261,13.259626,0.000000,22.499694,0.50,10658885,2001102,AE,3000
2020-09,80.226070,7.695719,0.000000,20.250246,0.50,10775873,2001102,AE,3000
2020-11,65.550351,1.352351,0.000000,8.871895,0.50,12312253,2001102,AE,3000
2021-01,63.529406,0.799151,0.661426,-0.540713,0.50,7570978,2001102,AE,3000
2021-03,67.550900,3.645840,0.071171,8.908659,0.50,12996528,2001102,AE,3000
2021-05,70.904631,4.485729,0.000000,16.716579,0.50,12417941,2001102,AE,3000
2021-07,80.729508,7.627029,0.000000,26.040000,0.50,10510350,2001102,AE,3000
2021-09,80.567719,5.275333,0.000000,21.542421,0.75,11398360,2001102,AE,3000
2021-11,70.062947,1.882842,0.000140,8.679088,1.00,11415255,2001102,AE,3000